body {
  font-family: Arial, sans-serif;
}

.App {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

input {
  padding: 10px;
  margin: 10px;
  width: calc(100% - 40px);
}

button {
  padding: 10px 20px;
  margin: 10px;
}

ul {
  list-style: none;
  padding: 0;
  overflow-x: scroll;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  
}

li button {
  margin-left: 10px;
}
